<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{addp.message}">Añadir post</h2>
		<form class="form-horizontal" method="post" action="/post/add" enctype="multipart/form-data" th:object="${post}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="title" th:text="#{titulo.message}">Titulo:</label>
				<div class="col-sm-10">
					<input id="title" type="text" class="form-control" name="title" required="true" />
					<span class="text-danger" th:if="${#fields.hasErrors('title')}"
 					th:errors="*{title}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="message" th:text="#{msg.message}">Message:</label>
				<div class="col-sm-10">
					<input id="message" type="text" class="form-control" name="message" required="true" />
					<span class="text-danger" th:if="${#fields.hasErrors('message')}"
 					th:errors="*{message}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="imagen" th:text="#{img.message}">Imagen (opcional):</label>
				<div class="col-sm-10">
					<input id="image" type="file" name="imagen" accept=".jpg" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button id="submitButton" type="submit" class="btn btn-primary" th:text="#{submit.message}">Enviar</button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>