<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">

		<h2>Posts</h2>
		<p th:text="#{postp1.message}">Los posts del usuario son los
			siguientes:</p>
		
		<div class="container" th:each="post : ${postsList}">
			<div class="panel panel-default">
				<div class="panel-heading">
				<p th:id="${'post'+post.user.id+ + post.id}" th:text="${post.title+'   '+post.date}"></p></div>
				<div th:if="${isUser}" class="panel-body" th:text="${post.message}">
				28276</div>
				<img th:id="${'imagen'+post.user.id+ + post.id}" th:if="${isUser}" th:src="@{/fotossubidas/P-{id}.jpg(id=${post.id})}"/>
			</div>
		</div>
		<footer th:replace="fragments/pagination" />

	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>