<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">

		<h2 th:text="#{requeststitle.message}">Solicitudes</h2>
		<p th:text="#{requests.message}">Las peticiones del usuario son
			las siguientes:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th th:text="#{enviador.message}">Enviada por:</th>
						<th class="col-md-1"></th>

					</tr>
				</thead>
				<tbody id="requestsTable">
					<tr th:each="request : ${requestsList}">
						<td th:text="${request.sender.name}">Peter</td>
						<td><button type="button"
								th:id="${'acceptButton' + request.sender.id}"
								class="btn btn-info" th:text="#{acceptfriend.message}">Aceptar</button>
							<script th:inline="javascript">
								/*<![CDATA[*/
								$(
										"#acceptButton[[${request.sender.id}]]")
										.click(
												function() {
													$
															.get(
																	"/requests/accept/[[${request.sender.id}]]",
																	function() {
																		location
																				.reload();
																	});
												});
								/*]]>*/
							</script></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />

	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>